---
api:
  file: openapi.json
  operationId: get-worker-tin-verification
hidden: false
---